<% if @article.errors.any? %>
    <div class="row justify-content-center mt-4">
        <div class="col-10">
            <div class="alert alert-warning alert-dismissalbe fade show shadow-sm p-4 mb-3" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="alert-heading ">Warning!</h4>
                <hr>
                <p>The following errors prevented the article from being saved:</p>
                <ul>
                    <% @article.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                    <% end %>
                </ul>
            </div>
        </div>
    </div>
<% end %>
