<div class="jumbotron text-center text-light shadow" id="jumbotron-about">
    <div class="conent">
        <h3 class="display-4 my-3">About this blog</h3>
        <p class="lead">Lorem ipsum dolor sit amet, eum libris ornatus antiopam in. Nec ancillae aliquando in. Sed no reque errem, vel volutpat gubergren assueverit ad. Usu dolor epicurei definitiones ei, vide animal denique id usu. Mea oratio partem in, unum scripta comprehensam est eu, mea cu soleat vituperata.</p>
        <p>Probo verear molestie at vim, sit et postea alienum copiosae. Assentior scripserit at pro, no probo tation impetus eos. Sit elit vivendo at, pri voluptua apeirian gubergren ne, sit eu etiam urbanitas. Ne has wisi liber oratio.</p>
        <p>Laudem nominavi antiopam ei quo. An omnis volumus nam. Libris definiebas te vel. Eam in etiam nulla, ius no hinc explicari.</p>
        <p>Ei oblique voluptatum mea, vis ne movet postulant. Probo repudiare duo ad. Sed ignota iisque facilisi no, no eos velit minim labitur, integre salutandi abhorreant ut eos. Quis eirmod et nec, eu adhuc theophrastus nec.</p>
        <p>An vim sanctus qualisque democritum, definiebas complectitur at nam. Altera nusquam concludaturque usu et, his ut altera facilisis. In duo argumentum concludaturque, id atomorum argumentum scriptorem pri. Quo utroque facilis iudicabit in, in per euismod quaerendum, mea in elit ornatus.</p>
    </div>
</div>
