<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "Level 7 Web Dev", "https://github.com/level7webdev" %></small>
  </div>
</footer>